@mixin prefix($property, $value) {
    $prefixes: moz, webkit;

    @each $prefix in $prefixes {
        -#{$prefix}-#{$property}: $value;
    }

    #{$property}: $value;
}

@mixin full-size() {
    width : 100%;
    height: 100%;
}

@mixin non-spacing() {
    padding: 0;
    margin : 0;
}

@mixin w-size($val) {
    width: (100 / $val) * 1%;
}

html {
    font-size: 10px;
}

html,
body,
div#app,
div#app main {
    @include full-size();
    @include non-spacing();
    position       : relative;
    top            : 0;
    left           : 0;
    scroll-behavior: smooth;
}

* {
    font-family: $font-graphik;
    font-size  : 1.8rem;
}


nav.main-menu {
    width          : 100%;
    position       : fixed;
    z-index        : 9999;
    top            : 0;
    left           : 0;
    display        : flex;
    justify-content: space-between;
    align-items    : flex-start;
    padding        : 1rem 2rem;

    .nav-icon img {
        width : 3em;
        height: 3em;
    }

    div.menu {
        display        : flex;
        flex-direction : column;
        justify-content: flex-end;

        ul {
            list-style: none;

            li {
                &.active {
                    a {
                        span.underline {
                            font-weight        : bold;
                            border-bottom-style: solid;
                        }
                    }
                }

                a {
                    text-decoration: none;
                    padding        : 2rem 2rem;
                }
            }
        }
    }
}


.underline {
    padding-bottom     : 1rem;
    border-bottom-width: 3px;
}

.btn {
    border             : 2px solid $color-gray;
    // padding         : 1em 3em;
    border-radius      : 5px;
    font-size: 1em;
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

section.tab {
    @include non-spacing();
    position       : static;
    display        : flex;
    align-items    : center;
    justify-content: center;

    &.cover {
        background-image   : url("/images/img1.png");
        background-position: center center;
        background-size    : cover;
        background-repeat  : no-repeat;

        & .info {
            text-align: center;
        }

        & .live {
            width   : 100%;
            position: absolute;
            bottom  : 0;
            left    : 0;

            & p {
                font-size: .8em;
            }

            & * {
                display: inline-block;
            }
        }
    }
}

.bold {
    font-weight: bold;
}

h1 {
    &.title {
        font-size: 3em;
    }

    &.strong-title {
        font-weight: bold;
        font-size  : 3.5em;
    }

    &.underline {
        font-weight        : bold;
        border-bottom-style: solid;
        border-color       : $color-green;

        &:after {
            content: "";
            width  : 10%;
        }
    }

    hr {
        max-width          : 5em;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-color       : $color-green;
    }
}

h2.title {
    font-size: 1.5em;
}

.w-row {
    width: 100%;
    @include non-spacing();
    display    : inline-flex;
    align-items: stretch;
    flex-wrap  : wrap;
}

.margin {
    $directions: top, bottom, left, right;
    $values    : 0, 1, 2, 3, 4, 5;

    @each $direction in $directions {
        @each $value in $values {
            &-#{$direction}-#{$value} {
                margin-#{$direction}: $value * 1%;
            }
        }
    }

    @each $value in $values {
        &-#{$value} {
            margin: $value * 1%;
        }
    }

    @each $value in $values {
        &-x-#{$value} {
            margin-left : $value * 1%;
            margin-right: $value * 1%;
        }
    }

    @each $value in $values {
        &-y-#{$value} {
            margin-top   : $value * 1%;
            margin-bottom: $value * 1%;
        }
    }
}

.padding {
    $directions: top, bottom, left, right;
    $values    : 0, 1, 2, 3, 4, 5;

    @each $direction in $directions {
        @each $value in $values {
            &-#{$direction}-#{$value} {
                padding-#{$direction}: $value * 1%;
            }
        }
    }

    @each $value in $values {
        &-#{$value} {
            padding: $value * 1%;
        }
    }

    @each $value in $values {
        &-x-#{$value} {
            padding-left : $value * 1%;
            padding-right: $value * 1%;
        }
    }

    @each $value in $values {
        &-y-#{$value} {
            padding-top   : $value * 1%;
            padding-bottom: $value * 1%;
        }
    }
}

footer {
    div.img {
        position: relative;
        bottom  : -4rem;
    }

    .w-row {


        ul {
            list-style     : none;
            display        : inline-flex;
            justify-content: center;
            @include non-spacing();

            li {

                a {
                    text-decoration: none;
                    padding        : 2rem 2rem;
                }
            }
        }
    }
}

.project {
    ul {
        list-style     : none;
        display        : inline-flex;
        justify-content: center;
        @include non-spacing();

        li {

            a {
                text-decoration: underline;
                padding        : 1rem 1rem;
            }
            ion-icon{
                @include prefix(transform, scaleX(-1));
            }
        }
    }

    .column {
        background: transparent;
        margin    : 0px;
    }
}

@media (max-width: $desktop-width - 1px) {

    html {
        font-size: 8px;
    }

    nav.main-menu {

        div.menu {
            button {
                display: block;
            }

            ul {
                margin-top: 1rem;
                display   : none;
                padding   : 0;

                &.show {
                    display: block;
                }

                li {

                    a {
                        text-align: end;
                        padding   : 1rem;
                        display   : block;
                    }
                }
            }
        }
    }

    .w-row {
        $columns: 1, 2, 3, 4, 5;

        @each $column in $columns {
            &.w-sm-#{$column} .column {
                @include w-size($column);
            }
        }

        & .column {
            @include w-size(1);
        }
    }

    footer {
        div.img {
            margin-top: -4rem;
            bottom    : -2rem;

            img {
                width : 2em;
                height: 2em;
            }
        }

        ul {
            margin-bottom: 2rem !important;

            &.contact {
                order: -1;
            }

            &.networks {
                order: -1;
            }
        }

    }



    section.tab.cover {
        @include full-size();
    }


    // PHONE
    @media (max-width: $tablet-width - 1px) {}


    // TABLET
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {}
}

@media (min-width: $desktop-width) {
    nav.main-menu {
        div.menu {
            button {
                display: none;
            }

            ul {
                li {
                    display: inline-flex;
                }
            }
        }
    }

    .w-row {
        $columns: 1, 2, 3, 4, 5;

        @each $column in $columns {
            &.w-md-#{$column} .column {
                @include w-size($column);
            }
        }

        & .column {
            @include w-size(1);
        }
    }

    footer {
        div.img {
            margin-top: -8rem;
        }
    }

    section.tab:not(.projects) {
        @include full-size();
    }

    .projects {


        .project {

            &:nth-child(2n+1) {
                .column.img {
                    order: -1;
                }
            }

            &:nth-child(2) {
                .column.img {
                    order: 1;
                }
            }
        }
    }
}

.project {
    display: flex;
    button.view {
        border-width: 0 !important;
        font-size   : .9em;
        font-weight : bold;
    }

    a {
        &:hover {
            color: $color-gray
        }
    }

    hr {
        border-bottom-width: 2px;
        border-bottom-style: solid;
        width              : 20%;
        margin             : 0;
        margin-bottom      : 2%;
    }

    &-1,
    &-2 {
        * {
            color: $color-white;
        }

        hr {
            border-color: $color-white;
        }
    }

    &-1 {
        background-color: $color-blue-1;

        button.view {
            color: $color-blue-1;
        }
    }

    &-2 {
        background-color: $color-red;

        button.view {
            color: $color-red;
        }
    }

    &-3 {
        background-color: $color-white;

        * {
            color: $color-black;
        }
        hr {
            border-color: $color-red;
        }
        button.view {
            background-color: $color-red !important;
            color           : $color-white;
        }
    }
}